<div class="modal-header" ng-switch on="identifier">
	<h3 class="modal-title" ng-switch-when="-1">Add Banner</h3>
	<h3 class="modal-title" ng-switch-default>Edit Banner</h3>
</div>
<div class="modal-body">
	<div class="form-horizontal">
		<div class="form-group">
			<label for="name" class="control-label col-sm-2">Name</label>
			<div class="col-sm-9">
				<input type="text" name="name" class="form-control" ng-model="banner.name">
				<small class="help-block">Naming your banner makes it easier to identify later.</small>
			</div>
		</div>
	</div>

	<h4 class="page-header">Selected Images</h4>
	<div class="available-images row">
		<div class="item col-sm-4 col-md-3" ng-repeat="image in banner.images track by $index" ng-click="removeImage($index)">
			<div class="thumbnail" ng-switch on="image.source">
				<img ng-switch-when="remote" ng-src="{{image.file}}">
        <img ng-switch-default ng-src="{{media/image.file}}">
			</div>
		</div>
	</div>

	<h4 class="page-header">Available Images</h4>
	<div class="available-images row">
		<div class="item col-sm-4 col-md-3" ng-repeat="(identifier, image) in availableImages" ng-click="addImage(identifier)">
			<div class="thumbnail" ng-switch on="image.source">
				<img ng-switch-when="remote" ng-src="{{image.file}}">
        <img ng-switch-default ng-src="{{media/image.file}}">
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<div class="btn-toolbar">
		<button type="button" class="btn btn-danger pull-left" ng-click="delete()" ng-if="identifier !== -1">
			Delete <i class="glyphicon glyphicon-trash"></i>
		</button>
		<button type="button" class="btn btn-primary pull-right" ng-click="save()" ng-switch on="identifier">
			<span ng-switch-when="-1">Add </span>
			<span ng-switch-default>Update </span>
			<i class="glyphicon glyphicon-check"></i>
		</button>
	</div>
</div>