<div class="modal-body">
	<div class="thumbnail" ng-switch on="image.source">
    <img ng-switch-when="remote" ng-src="{{image.file}}">
    <img ng-switch-default ng-src="media/{{image.file}}">
  </div>
  <div class="form-group">
  	<input type="text" class="form-control" ng-model="image.name" placeholder="Image name">
	</div>
  <div class="input-group input-group-sm">
  	<span class="input-group-addon">File:</span>
  	<input type="text" class="form-control" ng-model="image.file" disabled>
  </div>
</div>
<div class="modal-footer">
	<div class="btn-toolbar">
		<button type="button" class="btn btn-danger pull-left" ng-click="delete()">
			Delete <i class="glyphicon glyphicon-trash"></i>
		</button>
		<button type="button" class="btn btn-primary pull-right" ng-click="save()">
			Save <i class="glyphicon glyphicon-check"></i>
		</button>
	</div>
</div>