<h1 class="page-header">
  Images
  <!--
  <button type="button" class="btn btn-primary pull-right" ng-click="add()">
    New Image <i class="glyphicon glyphicon-picture"></i>
  </button>
  -->
  <input type="file" id="uploadify" multiple>
</h1>

<div class="images">
  <div class="image col-sm-4 col-md-3" ng-repeat="(identifier, image) in images">
      <div class="thumbnail" ng-switch on="image.source" ng-click="edit(identifier)">
        <img ng-switch-when="remote" ng-src="{{image.file}}">
        <img ng-switch-default ng-src="media/{{image.file}}">
      </div>
    </div>
  </div> 
</div>